<section class="auth_page">
  <div class="login_Form">
    <div class="logo"><img src="assets/logo.svg" alt=""></div>
      <h2>Register</h2>
      <form novalidate [formGroup]="regForm" (ngSubmit)="register()" autocomplete="off">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Your Name</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="regForm.get('name').hasError('required') && regForm.get('name').touched">
            Please enter name</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Your Email</mat-label>
          <input matInput formControlName="email" autocomplete="new-email">
          <mat-error *ngIf="regForm.get('email').hasError('required') && regForm.get('email').touched">
            Please enter email</mat-error>
          <mat-error
            *ngIf="regForm.get('email').hasError('email') && (regForm.get('email').dirty && regForm.controls['email'].value.length)">
            Please enter valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select formControlName="location" [(ngModel)]="selectedLocation">
            <mat-option *ngFor="let location of locations" [value]="location.value">
              {{location.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="regForm.get('location').hasError('required') && regForm.get('location').touched">
            Please select team size</mat-error>
        </mat-form-field>

        <mat-radio-group aria-label="Select an option" formControlName="gender" [(ngModel)]="selectedGender">
          <mat-radio-button color="primary" value="male">Male</mat-radio-button>
          <mat-radio-button color="primary" value="female">Female</mat-radio-button>
        </mat-radio-group>


        <mat-form-field appearance="outline">
          <mat-label>Select Quiz Type</mat-label>
          <mat-select formControlName="quiztype" [(ngModel)]="selectedQuizType">
            <mat-option *ngFor="let quiztype of quiztypes" [value]="quiztype.value">
              {{quiztype.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Your Password</mat-label>
          <input matInput name="password" autocomplete="new-password" [type]="hide ? 'password' : 'text'"
            formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="regForm.get('password').hasError('required') && regForm.get('password').touched">
            Please enter password</mat-error>
        </mat-form-field>


        <button class="register_btn" type="submit" mat-flat-button color="primary">Register</button>
        <button class="login_btn" type="button" mat-button routerLink="/login" color="primary">Login</button>


      </form>
  </div>
</section>