

.get_started {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 56px);
    @media (min-width: 600px) {
        height: calc(100vh - 64px);
    }
}

.get_started_title {
    text-align: center;
    width: 100%;
    

    &.mat-display-1 {
        padding: 32px 16px 16px;
        margin: 0;
    }
}

.get_started_image {
    max-width: 400px;
    margin: 0 auto 16px;
    width: 100%;
    padding: 0 16px;

    img {
        width: 100%;
    }
}

.get_started_button {
    text-align: center;
    width: 100%;

    button{
        font-size: 16px;
    }
}
