
::ng-deep body{
    background: #EDF2F5;
}

.container{
    padding: 4rem 1rem 0;
}

.main{
    max-width: 600px;
    margin: 0 auto;
}


mat-card-actions{
    margin: 0;
    padding: 0 0 8px !important;
}

mat-card-content p{
    font-size: 16px; line-height: 1.4;
}

button{
    font-size: 16px;
}

mat-card{
    padding: 1.25rem;
}

mat-card-title{
    font-weight: 400;
    margin: 0 0 1rem;
}

p{
    color: rgba(0,0,0,0.54);
    margin: 0 0 1rem;
}

.start_btn{
    height: 40px;
    width: 100%;
}