::ng-deep body{
    background: #EDF2F5;
}

.question{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 90%;
    height: calc(100vh - 120);

    @media (min-width: 600px) {
        height: calc(100vh - 128px);
    }

    h2{
        font-size: 1.375rem;
        line-height: 1.1;
        margin: 0 0 1.25rem;
        font-weight: 400;
        color: rgba(0,0,0,0.87);
    }
}

.answers{
    width: 100%;

    div{
        margin: 0 0 16px;
    }

    .skip_row{
        text-align: center;
    }

    button{
        width: 100%;
        height: 50px;
        font-size: 18px;
        padding: 0 0.5rem;

        &.skip_btn{
            height: 40px;
            max-width: 258px;
            width: 100%;
            margin: 0.5rem 0 0;
            text-align: center;
        }

    }

    button:not([color="accent"]):not(.skip_btn){
        color: rgba(0, 0, 0, 0.54);
        text-align: left;
    }

    .option_tag{
        background: #0065ED;
        color: rgba(255,255,255,1);
        width: 36px;
        height: 36px;
        border-radius: 100%;
        display: inline-flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }
}

.timer{
    justify-content: flex-end;
    display: flex;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 400;
    height: 64px;
    align-items: center;
    padding: 0 1rem;

}

.question_left, .question_right{width: 100%;
    justify-content: center;

    @media(min-width:768px)
    {
        width: 50%;
    }

}


@media(max-width:767px)
{
    .question_left{display: none;}
}

