<mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <button mat-icon-button (click)="go_back()"><mat-icon>arrow_back</mat-icon></button><div class="title">Question 1</div>
        </mat-toolbar-row>
    </mat-toolbar>
<div class="question">
        <h2>What is the Captital City of India?</h2>
    <div class="answers">
        <div><button mat-raised-button>New Delhi</button></div>
        <div><button mat-raised-button>Mumbai</button></div>
        <div><button mat-raised-button>Kolkata</button></div>
        <div><button mat-raised-button>Chennai</button></div>
    </div>
</div>