<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      Quiz
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="get_started">
      <div class="get_started_title mat-display-1">Welcome To The Quiz Concept.</div>
    <div class="get_started_image">
      <img src="quizConcept/assets/undraw_social_friends_nsbv.svg" alt="">
    </div>
    <div class="get_started_button">
      <button mat-flat-button color="accent" routerLink="/instructions">Get Started Now</button>
    </div>
  </div>