mat-toolbar{
    position: relative;
}

::ng-deep body{
    background: #f3f3f3;
}

.container{
    padding: 48px 16px 0;
}

.main{
    max-width: 600px;
    margin: 0 auto;
}
mat-card-actions{
    margin: 0;
    padding: 0 0 8px !important;
}

mat-card-content p{
    font-size: 16px; line-height: 1.4;
}

button{
    font-size: 16px;
}