mat-toolbar{
    position: relative;
}

mat-toolbar-row{
    justify-content: space-between;
}
.white_logo{
    img{
        vertical-align: middle;
    }
}

.logout_btn{
    margin-right: -15px;
    position: relative;
}